<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add attractions</title>
    <link rel="stylesheet" th:href="@{/attractionList.css}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">

</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>


<div class="addFormular">

    <form action="#" th:action="@{/attractions/save}" th:object="${touristAttraction}" method="post">
        <label for="attractionName"> Attraction name: </label>
        <input type="text" id="attractionName" name="attractionName" th:field="*{name}"><br>

        <label for="attractionDescription"> Attraction description: </label>
        <input type="text" id="attractionDescription" name="attractionDescription" th:field="*{description}"><br>


        <br><label for="attractionPhoto"> Attraction photo: </label>
        <input type="text" id="attractionPhoto" name="attractionPhoto" th:field="*{imgPath}"><br>
        <label for="attractionCity"> Attraction city: </label>
        <select id="attractionCity" th:field="*{cityID}">
            <option th:each="i : ${getAllCities}" th:value="${i.id}" th:text="${i.name}"> By:
            </option>
        </select>

        <br>
        <label>Attraction tags:</label> <br>
        <div th:each="tag : ${getAllTags}">
            <input type="checkbox" name="tagsID" th:value="${tag.id}" th:id="${tag.name}">
            <label th:for="${tag.name}" th:text="${tag.name}"></label>
        </div>

        <br><br>
        <button type ="submit"> Add attraction </button>

    </form>

</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>