<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All attractions</title>
    <link rel="stylesheet" th:href="@{/allAttractions.css}">
</head>
<body>
<div class="section">
    <h1> Liste over alle attraktioner</h1>
    <table>
        <thead>
        <tr>
            <th scope="col">Attraction</th>
            <th scope="col">Description</th>
        </tr>
        </thead>

        <div th:each="i : ${attractions}" class="attractionscontainer">
            <h1 th:text="${i.getName()}"></h1>
            <p th:text="${i.getDescription()}"></p>
            <img th:src="@{${i.imgPath}}" class="imgbox" />
        </div>



        <td />
    </table>
    <h1>Hej</h1>
</div>
</body>
</html>