* {
    height: auto;
    color: cornflowerblue;
}

body {
    background-color: beige;
    font-family: Arial sans-serif;
    font-size: 14px;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
}