<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All attractions</title>
    <link rel="stylesheet" th:href="@{/allAttractions.css}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">

</head>
<body>
<nav class="navigationBar">
    <a href="/"><h1 class="overskrift"> Turistguide i Danmark </h1></a>
    <div class="navcontent">
        <a href="/attractions/alle" target="_blank">Se alle attraktioner</a>
        <div class="container">
            <div class="dropdown">
                <button class="dropbtn"> Se en bestemt attraktion
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/attractions/Tivoli"> Tivoli </a>
                    <a href="/attractions/SMK"> SMK </a>
                    <a href="/attractions/Nyhavn"> Nyhavn </a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn"> Se en attraktion baseret på sæson
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/attractions/seasons/sommer"> Sommer </a>
                    <a href="/attractions/seasons/vinter"> Vinter </a>
                    <a href="/attractions/seasons/helår"> Helår </a>
                </div>
            </div>
            <a href="/attractions/rediger">Rediger attraktion</a>
        </div>

    </div>
</nav>


<h1 class="title"> Liste over alle attraktioner</h1>

<div class="section">

    <div th:each="i : ${attractions}" class="allattractionscontainer">
        <h1 th:text="${i.getName()}"></h1>
        <img th:src="@{${i.imgPath}}" class="imgbox" />
        <p th:text="${i.getDescription()}" class="description"></p>
    </div>

</div>



<footer class="footercontainer">
    <div class="footersection">
        <h3>Contact Us</h3>
        <p><strong>Address: </strong> 123 Travel St, City, Country</p>
        <p><strong>Email:</strong> travelguide@email.com</p>
        <p><strong>Phone:</strong> +123 456 789</p>
    </div>
    <div class="footersection">
        <h3>Follow Us</h3>
        <p>Facebook</p>
        <p>Instagram</p>
        <p>Twitter</p>
    </div>
    <div class="footersection">
        <h3>Company</h3>
        <p>About us</p>
        <p>Blog</p>
        <p>Partnerships</p>
        <p>Careers</p>
    </div>
</footer>

</body>
</html>
