<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All attractions</title>
    <link rel="stylesheet" th:href="@{/attractionList.css}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">

</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>



<div class="section">

    <div th:each="i : ${attraction}" class="allattractionscontainer">
        <h1 th:text="${i.getName()}"></h1>
        <img th:src="@{${i.imgPath}}" class="imgbox" />
        <p th:text="${i.getDescription()}" class="description"></p>
    </div>

</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>




















<!--
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tourist Attraction Details</title>
    <link rel="stylesheet" th:href="@{/attractionbyname.css}">
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div class="center-container">
    <h1 class="heading" th:text="${attraction.name}">Attraction Name</h1>

    <div class="attraction-details">
        <div class="grid-container">
            <div class="grid-item">
                <strong>Beskrivelse:</strong>
            </div>
            <div class="grid-item" th:text="${attraction.description}">Description of the attraction</div>

            <div class="grid-item">
                <strong>Bedste Sæson:</strong>
            </div>
            <div class="grid-item" th:text="${attraction.season}">Best season for the attraction</div>
        </div>
    </div>

    <section>
        <a class="read-more-button" href="https://www.officialtouristattractionlink.com" target="_blank">Læs mere</a>
    </section>

    <section class="button-container">
        <button class="button"><a href="/attractions">Tilbage til alle attraktioner</a></button>
    </section>
</div>

</body>
</html>





&lt;!&ndash;
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tourist Attraction Details</title>
    <link rel="stylesheet" th:href="@{/attractionbyname.css}">
</head>
<body>
<div class="center-container">
    <h1 class="heading" th:text="${attraction.name}">Attraction Name</h1>
    <div class="attraction-details">
        <p><strong>Beskrivelse:</strong> <span th:text="${attraction.description}">Beskrivelse af attraktion</span></p>
        <p><strong>Bedste Sæson:</strong> <span th:text="${attraction.season}">Bedste sæson for attraktion</span></p>
    </div>

    <section>
        <a th:href="@{/attractions}">All Attractions</a>
    </section>
</div>
</body>
</html>
&ndash;&gt;-->
