<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All attractions</title>
    <link rel="stylesheet" th:href="@{/attractionList.css}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">

</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>



<h1 class="title"> Liste over alle attraktioner</h1>

<div class="section">

    <div th:each="i : ${attractions}" class="allattractionscontainer">
        <h1 th:text="${i.getName()}"></h1>
        <img th:src="@{${i.imgPath}}" class="imgbox" />
        <p th:text="${i.getDescription()}" class="description"></p>
           <!--Her laver vi en knap-->
        <div class="buttonsoverallcontainer">
            <button class="button-87 tags" th:href="@{/attractions/{name}/tags(name=${i.name})}">
                <a th:href="@{/attractions/{name}/tags(name=${i.name})}" target="_blank">Vis tags </a>
            </button>
            <div class="deleteeditcontainer">
                <form th:action="@{/attractions/delete/{name}(name=${i.name})}" method="post">
                    <button class="button-87 delete" type="submit" >Slet attraktion</button>
                </form>
                <button class="button-87 edit"><a th:href="@{/attractions/edit}" target ="_blank"> Opdater attraktion </a></button>
            </div>
        </div>


    </div>

</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
