<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>All attractions</title>
  <link rel="stylesheet" th:href="@{/attractionList.css}">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>
<main class="tags-list">
  <div>
    <h1>Tags for attraktionen</h1>
    <div th:if="${errorMessage}">
      <p style="color: red;" th:text="${errorMessage}"></p>
    </div>
    <div th:if="${tags}">
      <ul>
        <li th:each="tag : ${tags}" th:text="${tag.name}"></li>
      </ul>
    </div>
  </div>
  <button class="button"><a href="/attractions">Tilbage til alle attraktioner</a></button>
</main>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
