<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>All attractions</title>
  <link rel="stylesheet" th:href="@{/attractionList.css}">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
</head>
<body>
<header>
  <nav class="navigationBar">
    <a href="/"><h1 class="overskrift"> Turistguide i Danmark </h1></a>
    <div class="navcontent">
      <a href="/attractions" target="_blank">Se alle attraktioner</a>
      <div class="container">
        <div class="dropdown">
          <button class="dropbtn"> Se en bestemt attraktion
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/attractions/Tivoli"> Tivoli </a>
            <a href="/attractions/SMK"> SMK </a>
            <a href="/attractions/Nyhavn"> Nyhavn </a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn"> Se en attraktion baseret på sæson
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/seasons/SOMMER"> Sommer </a>
            <a href="/seasons/VINTER"> Vinter </a>
            <a href="/seasons/HELÅRS"> Helår </a>
          </div>
        </div>
        <a href="/update">Rediger attraktion</a>
      </div>
      <a href="/attractions/edit">Rediger attraktion</a>
    </div>
  </nav>
</header>

<main class="tags-list">
  <div>
    <h1>Tags for attraktionen</h1>
    <div th:if="${errorMessage}">
      <p style="color: red;" th:text="${errorMessage}"></p>
    </div>
    <div th:if="${tags}">
      <ul>
        <li th:each="tag : ${tags}" th:text="${tag.displayName}"></li>
      </ul>
    </div>
  </div>
  <button class="button"><a href="/attractions">Tilbage til alle attraktioner</a></button>
</main>


<footer>
  <footer class="footercontainer">
    <div class="footersection">
      <ul>
        <h3>Contact Us</h3>
        <p><strong>Address: </strong> 123 Travel St, City, Country</p>
        <li><strong>Email:</strong> <a href="mailto:travelguide@email.com">travelguide@email.com</a></li>
        <p><strong>Phone:</strong> +123 456 789</p>
      </ul>
    </div>
    <div class="footersection">
      <ul>
        <h3>Follow Us</h3>
        <p><li><a href="https://www.facebook.com/kea.dk/">Facebook</a></li></p>
        <p><li><a href="https://www.instagram.com/keacph/">Instagram</a></li></p>
        <p><li><a href="https://twitter.com/keacph/">Twitter</a></li></p>
        <p><li><a href="https://www.linkedin.com/school/kea-k-benhavns-erhvervsakademi/">LinkedIn</a></li></p>
      </ul>
    </div>
    <div class="footersection">
      <ul>
        <h3>Company</h3>
        <p><li><a href="https://kea.dk/om-kea">About us</a></li></p>
        <p><li><a href="https://kea.dk/uddannelser/livet-pa-kea/studieliv">Blog</a></li></p>
        <p><li><a href="https://kea.dk/samarbejde-virksomheder">Partnerships</a></li></p>
        <p><li><a href="https://kea.career.emply.com/da/ledige-stillinger">Careers</a></li></p>
      </ul>
    </div>
    <div class="footersection">
      <ul>
        <h3>GET Endpoint tests</h3>
        <p><li><a href="http://localhost:8080/attractions/tivoli">Endpoint test til Tivoli</a></li></p>
        <p><li><a href="http://localhost:8080/attractions">Endpoint test til alle Attraktioner</a></li></p>
      </ul>
    </div>
  </footer>


</footer>

</body>
</html>
