<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update attractions</title>
    <link rel="stylesheet" th:href="@{/attractionList.css}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">

</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>


<div class="UpdateFormular">

    <form action="#" th:action="@{/attractions/update}" th:object="${updateAttraction}" method="post">

        <label for="attractionName"> Attraction name: </label>
        <select id="attractionName" th:field="*{name}">
            <option th:each="i : ${getAllAttractions}" th:value="${i.name}" th:text="${i.name}"> Navn:
            </option>
        </select>

            <label for="attractionDescription"> Attraction description </label>
            <input type="text" id="attractionDescription" name="attractionDescription"
                   th:field="*{description}"> <br>



        <br><label for="attractionPhoto"> Attraction photo: </label>
        <input type="text" id="attractionPhoto" name="attractionPhoto" th:field="*{imgPath}"><br>
        <label for="attractionCity"> Attraction city: </label>
        <select id="attractionCity" th:field="*{city}">
            <option th:each="i : ${getAllCities}" th:value="${i}" th:text="${i}"> By:
            </option>
        </select>

        <label>Attraction tags:</label> <br>
        <div th:each="tag : ${getAllTags}">
            <input type="checkbox" name="tagsList" th:value="${tag.name}" th:id="${tag.name}">
            <label th:for="${tag.name}" th:text="${tag.name}"></label>
        </div>

        <br><br>

        <button type="submit"> Opdater attraktion </button>

    </form>

</div>
<div th:replace="fragments/footer :: footer"></div>


</body>
</html>