<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update attractions</title>
    <link rel="stylesheet" th:href="@{/attractionList.css}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">

</head>
<body>
<nav class="navigationBar">
    <a href="/"><h1 class="overskrift"> Turistguide i Danmark </h1></a>
    <div class="navcontent">
        <a href="/attractions" target="_blank">Se alle attraktioner</a>
        <div class="container">
            <div class="dropdown">
                <button class="dropbtn"> Se en bestemt attraktion
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/attractions/Tivoli"> Tivoli </a>
                    <a href="/attractions/SMK"> SMK </a>
                    <a href="/attractions/Nyhavn"> Nyhavn </a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn"> Se en attraktion baseret på sæson
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/attractions/seasons/sommer"> Sommer </a>
                    <a href="/attractions/seasons/vinter"> Vinter </a>
                    <a href="/attractions/seasons/helår"> Helår </a>
                </div>
            </div>
            <a href="/attractions/rediger">Rediger attraktion</a>
        </div>

    </div>
</nav>

<div class="UpdateFormular">

    <form action="#" th:action="@{/update}" th:object="${updateAttraction}" method="post">

        <label for="attractionName"> Attraction name: </label>
        <select id="attractionName" name="attractionName">
            <option th:each="i : ${getAllAttractions}" th:value="${i}" th:text="${i.getName()}"> Navn:</option>
        </select>
        
    <!----
            <label for="attractionDescription"> Attraction description </label>
            <input type="text" id="attractionDescription" name="attractionDescription"
                   th:field="*{setDescription(description)}"> <br>

        <label for="attractionPhoto"> Attraction photo </label>
        <input type="text" id="attractionPhoto" name="attractionPhoto" th:field="*{setImgPath(imgPath)}"><br>
    --->

    </form>

</div>

</body>
</html>